a.brand-logo img {
    width: 100%;
}

button#kt_aside_toggle {
    position: relative;
    right: -12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #242939; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}